{
    "presets": [
      [
        "@babel/preset-env",
        {
          "targets": {
            "browsers": "> 1%"
          },
          "useBuiltIns": "usage",
          "forceAllTransforms": true,
          "modules": "commonjs"
        },
      ],
      "minify"
    ]
}  